body
{
	background-color: #f6f5f5;
	margin-right: 0px;
	padding: 0px;
}

ul
{
	list-style: none;
}

a
{
	text-decoration: none;
}

section
{
	width: 100%;
	height: 95vh;
	background-image: url("img/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

/* Estilo navegador */
nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color: #ffffff;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;
}

nav ul
{
	display: flex;
}

nav ul li a
{
	margin: 30px;
	font-family: myriad pro regular;
	color: #505050;
	font-size: 15px;
	font-weight: 700;
}

.logo
{
	font-family: Arial;
	color: #000000;
	font-size: 22px;
}

.active
{
	font-weight: bold;
	color: #2d2a2a;
}

/* Estilo Textos */
.conteudo-texto p:nth-child(1)
{
	font-family: calibri;
	font-weight: bold;
	color: #6d6d6d;
	font-size: 22px;

}

.conteudo-texto p:nth-child(2)
{
	font-family: calibri;
	font-weight: bold;
	letter-spacing: 1px;
	color: #000;
	font-size: 60px;
}

.conteudo-texto p:nth-child(3)
{
	font-family: myriad pro regular;
	color: #403e3e;
	font-size: 30px;
	line-height: 30px;
}

.conteudo-texto 
{
	line-height: 0px;
	margin: 45px 0px 25px;
}

.conteudo-texto 
{
	position: absolute;
	left: 13%;
	top: 42%;
	transform: translate(-13%, -42%);
}

.conteudo-texto button
{
	width: 130px;
	height: 42px;
	border-radius: 10px;
	font-family: calibri;
	font-weight: bold;
	font-size: 14px;
	outline: none;
	margin: 0px 10px;
}

.btn1
{
	border: 2px solid #373636;
	color: #373636;

}

.btn2
{
	background-color: #0b0b0b;
	border: none;
	color: #ffffff;;

}

button:active
{
	transform: scale(1.1);

}

/* Estilo Imagem banner sem fundo */

.imgbg
{
	height: 490px;
	position: absolute;
	bottom: 40px;
	left: 67%;
	transform: translateX(-70%);

}


.conteudo-sobre
{
	width: 80%;
	height: 330px;
	background-color: #ffffff;
	border-radius: 20px;
	box-shadow: 2px 2px 12px  rgba(0,0,0,0.2);
	display: flex;
	margin: -7% auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;
}

.conteudo-sobre img
{
	height: 250px
}

.texto-sobre
{
	width: 550px;
}

.conteudo-sobre p:nth-child(1)
{
	color: #403e3e;
	font-family: myarid pro;
	font-weight: bold;
	font-size:23px;
	line-height: 0px;
}

.conteudo-sobre p:nth-child(2)
{
	color: #3e3e3e;
	font-size: 13px;
	font-family: myria pro;
	font-weight: bold;
	line-height: 5px;
}

.conteudo-sobre p:nth-child(3),
.conteudo-sobre p:nth-child(4)
{
   color: #7e7d7d;
   font-family: calibri;
   font-size: 16px;
}

.texto-sobre button
{
	width: 120px;
	height: 40px;
	color: #ffffff;
	outline: none;
	border:none;
	font-family: calibri;
	background-color: #262325;
}
